body {
	font-family:$body_font;
}

#wrap {
	margin-top:-60px;
	background-color:$color_white;
	border:$border;
	border-radius:$border-radius;
	@include box-shadow (0 6px 15px  black);
	p {
		width: $width_parrafo;
		text-align: $align_center;
		color:$color_gris;
		font-size: $size_p_inicio;
		margin:70px auto;
	}
}

.box1 {
	background-image:url(../img/img_slider_1.jpg);
	@include background;
}

.box2 {
	background-image:url(../img/img_slider_2.jpg);
	@include background;
}

.carousel-caption {
	margin-bottom: 70px;
	h2 {
		font-size: 70px;
		font-weight: 700;
	}
	h3 {
		font-family: $title_font;
		font-size: 18px;
	}
}