$body_font:'Open Sans', sans-serif;
$title_font: 'Roboto Slab', serif;
$color_gris: grey;	
$color_white: white;
$boder_caja:10px;
$border: solid thin white;
$border_radius:10px;
$position_abs:absolute;
