$body_font:'Open Sans', sans-serif;
$title_font: 'Roboto Slab', serif;
$color_gris: silver;	
$color_grisoscuro:grey;
$color_white: white;
$boder_caja:10px;
$border: solid thin white;
$border_radius: 8px;
$align_center: center;
$width_parrafo: 65%;
$size_p_inicio: 17px;
$size_titleh3: 18px;
$color_fucsia: #e91e63;
$size_menu: 13px;
$color_celeste:#00bcd4;
$color_verde:#4caf50;
$size_wrap: 16px;
$fondo_quienessomos: url(../img/img_city.jpg);
$size_titleh4: 40px;
